<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="fonteDados" class="br.com.beansSpring.FonteDadosArquivo">
		<property name="arquivo" value="pessoas.csv"/>
	</bean>

  	<bean id="impressor" class="br.com.beansSpring.ImpressorImpl"/>
  	
  	<bean id="processador" class="br.com.beansSpring.Processador">
  		<property name="impressor" ref="impressor"/>
  		<property name="fonteDados" ref="fonteDados"/>
  	</bean>  

</beans>